.todoItemContainer{
  padding: 1px;
}
.checkBox{
  height: 36px;
  width: 35px;
  transform: translate(9px,10px);
  cursor: pointer;
}
.pendingTodo{
  height: 32px;
  font-size: 16px;
  padding-left: 10px;
  letter-spacing: 1px;
  margin-left: 10px;
  background-color: red;
  color: white;
}
.delBtn{
  height: 36px;
  width: 35px;
  font-size: 20px;
  color: red;
  font-weight: 600;
  cursor: pointer;
}